main
{
    max-width: 800px;
    margin: auto;
}
.card
{
    margin-bottom: 10px;
    max-width: 500px;
}
body
{
    background-color: lightblue !important;
}
main
{
    background-color: azure;
    padding: 10px;
    min-height: 100vh;
}